body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    font-size: 3.5rem;
    color: hsl(0, 0%, 20%);
}
.gamechoices{
    margin-bottom: 30px;
}
.gamechoices button{
    /*font-size: 7.5rem;*/
    min-width: 160px;
    margin: 0 10px;
    border-radius: 0px;
    background-color: aquamarine;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.gamechoices button:hover{
    background-color: hsl(200, 100%, 70%);
}
#userResult, #botResult{
    font-size: 2.5rem;
}
#result{
    font-size: 4rem;
    margin: 50px 0;
}
.playerScore{
    font-size: 2rem;
}
.redText, #userScoreDisplay{
    color: hsl(0, 100%, 50%);
}
.blueText, #botScoreDisplay{
    color: hsl(221, 100%, 50%);
}